@page "/"
<img src="favicon.png">
<h1>Welcome page, you can navigate from here!</h1>
<br>
<br>
<br>
<br>
<h3>Navigation helper:</h3>

<NavLink href="/levenshtein" Match="NavLinkMatch.All">
    <h5 style="color:navajowhite">Go to Levenshtein distance page</h5>
</NavLink>
<NavLink href="/listofusers" Match="NavLinkMatch.All">
    <h5 style="color:navajowhite">Go to List of users page</h5>
</NavLink>
<NavLink href="/apiconnect" Match="NavLinkMatch.All">
    <h5 style="color:navajowhite">Go to API connection</h5>
</NavLink>

